@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color-darker: #8a1c00;
  --primary-color-dark: #c13c00;
  --primary-color: #f96700;
  --primary-color-light: #ff9d3f;
  --primary-color-lighter: #ffca7a;
  --primary-color-lightest: #FFF1D2;
  --secondary-color: #ffdeaa;
  --tertiary-color: #fffaec;
  --text-color: #1f2937;
  --text-color-light: #6b7280;
  --text-color-lighter: #9ca3af;
  --text-color-lightest: #f3f4f6;
  --text-color-white: #ffffff;
  
}


html,body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
  display: grid;
  place-items: center;
  padding: 1rem;
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color-dark);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.container {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.container .header {
  position: relative;
}
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font:inherit;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: var(--text-color-lightest);
  background-color: var(--primary-color);
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

.btn:disabled {
  cursor: not-allowed;
  background-color: var(--primary-color-lightest);
  color: var(--text-color-light);
}

.display-msg {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.25rem;
  color: var(--text-color-lighter);
  font-size: 1.25rem;
  text-align: center;
  gap: 1rem;
}

.display-msg h1,h2,h2,h4,h5,h6 {
  color: var(--text-color);
  font-size: 1.75rem;
}

.display-msg .action-btn {
  font-size: 1.5rem;
}

.display-msg .action-btn:hover {
  background-color: var(--primary-color-dark);
  color: var(--primary-color-lighter);
}

.display-msg .display-msg-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.display-msg .display-msg-img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  /* border-radius: 1rem; */
  box-shadow: 0 -10px 30px rgba(0,0,0,0.1);
}

.bottom-nav a {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: var(--text-color);
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transition: all 100ms ease;
}

.bottom-nav a:hover, .bottom-nav a.active {
  background-color: var(--primary-color-light);
  color: var(--text-color-lightest);
}

.back-btn {
  /* left: 1rem; */
  display: flex;
  align-items: center;
  width: 3rem;
  height: 3rem;
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
  padding: 1rem;
  border-radius: 50%;
  transition: all 100ms ease;
}

.back-btn:hover {
  background-color: var(--primary-color-lightest);
}

.course-reps-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}
.course-card {
  width: 100%;
  /* background-color: red; */
  border-radius: 0.8793rem;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  margin-bottom: 1rem;
}

.card-title, .card-body {
  padding: 1rem;
}

.course-card .card-title {
  font-size: 1.3rem;
  color: var(--text-color-light);
  background-color: var(--primary-color-lightest);
}

.course-card .card-title h3 {
  font-weight: 600;
}

.course-card .card-body {
  display: flex;
  flex-direction: column;
}

.rep-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding-bottom: 1rem;
}

.rep-details:not(:last-child) {
  border-bottom: 1px solid var(--primary-color-lightest);
  margin-bottom: 1rem;
}

.rep-details button {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  padding: 0;
  background-color: transparent;
  color: var(--text-color-light);
  border-radius: 50%;
  transition: background-color 0.1s ease;
}

.rep-details button:hover {
  background-color: var(--text-color-lightest);
  color: var(--text-color-light);
}

.rep-bio-data {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.rep-img {
  width: 3rem;
  height: 3rem;
  border-radius: 0.25rem;
  background-color: var(--secondary-color);
  overflow: hidden;
}

.rep-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.role {
  color: var(--primary-color);
  font-size: 0.75rem;
}

.course-rep-name {
  font-size: 1.25rem;
  font-weight: 500;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0001;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: end;
}

.modal-content {
  background-color: var(--tertiary-color);
  padding: 1rem;
}

.modal-content button:first-child {
  background-color: #c13c00;
  color: var(--tertiary-color);
}

.modal-content button:last-child {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

/* Media query for mobile screens (Responsiveness) */
@media screen and (max-width: 400px) {
  .display-msg .action-btn {
    font-size: 1rem;
  }
  
  .bottom-nav a {
    font-size: 0.75rem;
  }
}

